html, body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

main {
    height: 100%;
    flex: 1 0 auto;
}

content {
    height: 100%;
}

footer{
    height: 250px;
}

.title{
    margin-left: 3%;
}

.margen5{
    margin: 5%;
}

.edit{
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-end;
}