body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    height: 100%;
    flex: 1 0 auto;
}

content {
    height: 100%;
}

footer{
    height: 250px;
}

.title{
    margin-left: 3%;
}
