@(cart: Integer, totalPrice: Double ,productInvoices: java.util.List[dto.ProductInvoiceDTO])

@head = {
    <script type="text/javascript" src='@routes.Assets.at("js/create.js")'></script>
}

@main("Create", cart, head){
<h2>Carrito compra</h2>

<div class="Crear">
    <h3>Detalles</h3>

    @if(productInvoices.isEmpty){
        <h4>Carrito Vacío</h4>
    } else{
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s4">
                        <label>Producto</label>
                    </div>
                    <div class="input-field col s4">
                        <label>Precio</label>
                    </div>
                    <div class="input-field col s4">
                        <label>Cantidad</label>
                    </div>
                </div>
                @for(productInvoice <- productInvoices){ 
                    <div class="row">
                        <div class="input-field col s4">
                            <input disabled value=@productInvoice.product.productName type="text" class="validate">
                        </div>
                        <div class="input-field col s4">
                            <input disabled value=@productInvoice.price type="text" class="validate">
                        </div>
                        <div class="input-field col s4">
                            <input disabled value=@productInvoice.amount type="number" min="0" class="validate">
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="input-field col s6">
                        <input disabled value="@totalPrice" id="total_price" type="text" class="validate">
                        <label for="total_price">Precio</label>
                    </div>
                </div>

                <a class="btn waves-effect waves-light" href='@routes.InvoiceController.create()'>Confirmar compra</a>
                <a class="btn waves-effect waves-light blue-grey lighten-4" href='@routes.InvoiceController.cancel()'>Cancelar compra</a>
            </form>
        </div>
    }
</div>
</div>
}
