@(products: java.util.List[dto.ProductDTO])

@head = {
    <script type="text/javascript" src='@routes.Assets.at("js/create.js")'></script>
}

@main("Tienda", head){
<h2>Compra</h2>

<table class="striped highlight">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Añadir al carro</th>
    </tr>
    </thead>

    <tbody>
    @for(product <- products){
    <tr>
        <td>@product.productName</td>
        <td>@product.itemPrice €</td>
        <td class="amount">
            <div class="amount-div">
                <a href="#!" onclick="substract(amount@product.productId)"><i class="amount-symbols">-</i></a>
                <input disabled type="number" value="1" class="amount-symbols" id="amount@product.productId"></input>
                <a href="#!" onclick="add(amount@product.productId)"><i class="amount-symbols">+</i></a>
            </div>
        </td>
        <td><a href="#!" onclick="addToCart(@product.productId, '@routes.InvoiceController.addToCart()')" ><i class="material-icons">add_shopping_cart</i></a></td>
    </tr>
    }
    </tbody>
</table>

}