@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String, head: Html = Html(""), cart: Integer = 0)(content: Html)
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@title</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href='@routes.Assets.versioned("css/materialize.min.css")'
        media="screen,projection" />

    <link rel='stylesheet' type='text/css' href='@routes.Assets.at("css/styles.css")' media="screen,projection">

    @head
</head>

<body>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src='@routes.Assets.versioned("js/materialize.min.js")'></script>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="@routes.InvoiceController.shop()" class="brand-logo , title">Tienda</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="@routes.InvoiceController.read()">Facturas</a></li>
                    <li><a href="@routes.InvoiceController.cart()">
                        <i class="medium material-icons">shopping_cart
                            <small class="notification-badge accent-2">@cart</small>
                        </i>
                        </a></li>
                </ul>
            </div>
        </nav>
    </div>

    @*Content*@
    <section class="content">
        <div class="container">@content</div>
        </div>
    </section>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Play Crud</h5>
                    <p class="grey-text text-lighten-4">
                        This is a CRUD of invoices using Play Framework and Twirl
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Mariela Dorta
                <a class="grey-text text-lighten-4 right" href="https://github.com/marielad">marielad</a>
            </div>
        </div>
    </footer>

</body>

</html>