@(invoices: java.util.List[dto.InvoiceDTO])
@main("Invoice History"){
<div class="margen5">
    <h2>Invoice History(Delete, Update)</h2>
</div>

<div class="margen5">
    <table class="striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Total Price</th>
            </tr>
        </thead>

        <tbody>
        @for(invoice <- invoices){
            <tr>
                <td>@invoice.invoiceId</td>
                <td>@invoice.invoiceDate</td>
                <td>@invoice.totalPrice</td>
                <td><a href="@routes.InvoiceController.edit(invoice.invoiceId)"><i class="tiny material-icons">edit</i></a></td>
                <td><a href="@routes.InvoiceController.delete(invoice.invoiceId)"><i class="tiny material-icons">clear</i></a></td>
            </tr>
        }
        </tbody>
    </table>
</div>


}